# ======================
# App Configuration
# ======================
NODE_ENV=development

# ======================
# Authentication
# ======================
BETTER_AUTH_SECRET=cJoFUIJsAJwEi5YreQ0089cf1uTuknUG
BETTER_AUTH_URL=http://localhost:5173

# ======================
# Database Configuration
# ======================
# Main connection URL (used by Prisma Postgres)
DATABASE_URL=""
